.emailRow{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #22272E;
    cursor: pointer;
    z-index: 999;
    margin-bottom: 2px;
    color: #9DA7B3;
    padding: 0px 15px;

}
.emailRow:hover{
    box-shadow: 0px 2.5px 4px -2px #22272E
}
.emailRow_options {
    display: flex;
}
.emailRow_message{
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 15px;
}
.emailRow_message > h4{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
}
.emailRow_title{
    font-size: 16px;
    flex: 0.3;
    font-weight: 500;
}
.emailRow_time {
    padding-right: 15px;
    font-size: 12px !important;
    color: gray;
}
.emailRow_description{
    font-weight: 400;
    color: gray;
}
.starred {
    fill: gold !important;
}
.important{
    color: goldenrod;
}